<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle headmenu" data-toggle="dropdown">
  Resources <b class="caret"></b>
</a>
<ul class="dropdown-menu headmenu">
  <li><%= link_to "Current Shows", performances_path(current: 1) %></li>
  <li><%= link_to "All Shows", performances_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Representatives", users_path %></li>
  <li><%= link_to "Theaters", theaters_path %></li>
  <li><%= link_to "Products", products_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Paperwork & Reports", papers_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Data Entry", distributeds_path %></li>
  <li><%= link_to "Data Viewer distributed_reports_path", '' %></li>
  <li><%= link_to "Data Archive and Restore", archives_backup_path %></li>
</ul>
</li>