<table width="80%"><tr>
  <td width="20%" align="left"><%= link_to user.name, user %></td>

  <% if current_user.admin? %>

  <td width="20%" align="center">
      <% if user.phonetype?  %>
        <%= link_to "txt schedule", txtalert_user_path(user), class: "btn btn-small btn-primary" %>
      <% end %></td>
    <td width="20%" align="center">
      <% if user.email?  %>
        <%= link_to "email schedule", emailalert_user_path(user), class: "btn btn-small btn-primary" %>
      <% end %></td>
    <td width="10%" align="left">
      <%= link_to "Edit", edit_user_path(user) %>
  </td>
    <td width="10%" align="left">
    <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
  </td>

  <% end %>
</tr></table>