<div class="row">
<div class="col-md-4 editbold lt"><%= link_to user.name, user %></div>
<div class="col-md-1 editbold">
  <% if user.phonetype?  %>
    <%= link_to "txt schedule", txtalert_user_path(user), class: "btn btn-sm btn-primary" %>
  <% end %>
</div>
<div class="col-md-4 editlight ct"><%= user.phone %></div>
<div class="col-md-1 editbold"><%= link_to "email schedule", emailalert_user_path(user), class: "btn btn-sm btn-primary" %></div>
<div class="col-md-1 editbold rt"><%= link_to "Edit", edit_user_path(user) %></div>
</div>