<% provide(:title, 'About Us') %>
<div align="center">
<div class="well well-sm">
	
<h1>ID the scan</h1>
<%= @testertext %>

<%= form_tag("/scanssorting", method: "post") do %>

<div class="row">
  <div class="col-md-3 editbold ct"><%= select_tag "placeperformance", options_from_collection_for_select(@performances, "id", "name") %></div>
  <div class="col-md-3 editbold lt"><%= select(@object, :placeweek, @completeweeks) %></div>
  <div class="col-md-3 editlight ct">
  	<% @paperworkformat.each do |o| %>
      <%= o[0] %>
      <%= radio_button_tag(:paperworkformat, o[1]) %>
    <% end %>
  </div>
  <div class="col-md-2 editbold ct"><%= submit_tag 'Attach File', class: "btn btn-sm btn-primary" %></div>
</div>
<% end %>

<%= image_tag @thisimage %>

</div>
</div>