<% if current_user.admin?  %>

<h3>Distribution Reports</h3>

<Table><tr><td width='20%' valign="top">
  <div class="right">
  <% render :partial => "shared/source", :object => @distributed_report %>
  </div>

  <div class="left">
  <%= datagrid_form_for @distributed_report %>
</td><td valign="top">

  <Table width = "100%"><tr><td>
      <div class='total'>Total: <%= @distributed_report.assets.count %></div>
    </td><td>
  <%= paginate @distributed_report.assets %>

    </td><td>
  <%= link_to "Download CSV", url_for(format: 'csv'), class: "btn btn-medium btn-primary" %>
  </td></tr></Table>

  <%= datagrid_table(@distributed_report) %>
  </div>
</td></tr></Table>



<% else %>
  <h2>Please log in with an Administrator's account</h2>
  <%= link_to "Home", home_path %>
<% end %>