<% provide(:title, 'Distributed Headset Reports') %>
<h2>Distributed Products</h2>

<h2>Add and Edit Distributions for the week</h2>

<div align='center'>
<Table width="60%" bgcolor="lightgray" border="0">
<tr>
 <% @weekstartstoedit.each_with_index do |weekof,i| %>
   <% if i/4 == i/4.0 then %></tr><tr><% end %>
   <td width="25%" valign="top" bgcolor="white">
   <div align="center">
     <%= link_to weekof[0], preedit_path(params.merge(:mystart => weekof[1])), class: weekof[6] %>
   </div>
   <div align="left">
     <strong><%= weekof[2] %></strong> Performances<br>
     <strong><%= weekof[3] %></strong> Infrared<br>
     <strong><%= weekof[4] %></strong> Special Services<br>
     <strong><%= weekof[5] %></strong> Representatives
   </div>
   </td>
 <% end %>
  </tr></Table>
</div>