<% provide(:title, 'Weekly logs') %>
<%= render 'shared/distributed_error_messages' %>

<h2><%= @performance.name %><br>
Week of <%= @mystart.strftime('%b %d, %Y') %></h2>

<div align='center'>
<%= link_to "Cancel", preedit_path(params.merge(:mystart => @mystart)), class: "btn btn-small btn-danger" %>
<br><%= link_to "Main Page", distributeds_path(noreports: 1), class: "btn btn-small btn-warning" %><br>

<% if @weekofdistributed.count > 28 %>
  <p><Table width="90%" bgcolor="lightgray" border="1">
<% else %>
  <Table width="60%" bgcolor="lightgray" border="1">
<% end %>

    <tr>

<%= form_tag(:action => 'create', :method => 'post', :id => 1, :mystart => params[:mystart]) %>

  <% @weekofdistributed.each_with_index do |distributed, i| %>

    <% if distributed.curtain.strftime('%a') == 'Mon' %>
      <% if distributed.eve == false %>
        <% if distributed.language == 0 %>
          <% if i > 1 %></td><% end %>
          <td align="center" valign="top" bgcolor="white">
           <h6><%= Product.find(distributed.product_id).name %></h6><br>
           <%= submit_tag 'Save Changes', class: "btn btn-medium btn-primary" %>
        <% end %>
      <% end %>
    <% end %>


    <table><tr><td align="left" valign="top">
    <%= fields_for "distributed#{i}" do |f| %>
      <% if distributed.language.to_i == 0 then %>
        <% if distributed.eve == true then %>
          <%= distributed.curtain.strftime('%a E (%m / %d)') %>
        <% else %>
          <%= distributed.curtain.strftime('%a M (%m / %d)') %>
        <% end %>
      <% end %>

      <%= f.hidden_field :id, value:distributed.id %>
      <%= f.hidden_field :curtain, value:distributed.curtain %>
      <%= f.hidden_field :eve, value:distributed.eve %>
      <%= f.hidden_field :performance_id, value:@performance.id %>
      <%= f.hidden_field :product_id, value:distributed.product_id %>
      <%= f.hidden_field :language, value:distributed.language %>

      <% if distributed.product_id == 1 or distributed.product_id == 6 then %>
        <% if !distributed.quantity.nil? then %>
          <td width = '110'><%= f.select :representative, options_for_select(@representatives, distributed.representative) %></td>
        <% else %>
          <%= f.hidden_field :representative, value:1 %>
        <% end %>
      <% else %>
        <%= f.hidden_field :representative, value:distributed.representative %>
      <% end %>

      </td>
      <td align="right" valign="top">
        <% if distributed.language.to_i > 0 then %>
          <%= @language.key(distributed.language.to_i) %>
        <% end %>
        &nbsp;
      </td><td align="center" valign="top" width="30%">
        <%= f.number_field :quantity, value:distributed.quantity, :tabIndex => 2000 %>
      </td>
    <% end %>
    </tr></table>

    <% if distributed.curtain.strftime('%a') == 'Sun' %>
      <% if distributed.eve == true %>

      <% end %>
    <% end %>

  <% end %>

</tr></Table>
</div>