<% provide(:title, 'Distributed Data Entry') %>
<div align="center">
<div class="well well-sm" style="width: 75%;">
	
<h1><%= params[:mystart].to_date.strftime('%b %d') %> to <%= ((params[:mystart].to_date) + 6).strftime('%b %d, %Y') %></h1>

<%= link_to "Select Week", distributeds_path, class: "btn btn-small btn-warning" %>

<Table width="80%" bgcolor="lightgray" border="0">
  <tr>
  <% @showstoedit.each_with_index do |p,i| %>
    <% if i/4 == i/4.0 then %></tr><tr><% end %>
    <td width="25%" align="center" valign="top" bgcolor="white">
    <%= link_to p[0], new_distributed_path(params.merge(:mystart => params[:mystart], :performance_id => p[1])),
         class: p[2] %></td>
  <% end %>
 </tr>
</Table>

 <%= link_to "Select Week", distributeds_path, class: "btn btn-small btn-warning" %>