<div class="row">
  <h3>
  <div class="col-md-4">Test-<%= datamodel["descriprion"] %></div>
  </h3>
  <h4>
  <div class="col-md-2"><%= datamodel["modelname"] %>.csv</div>
  <div class="col-md-2"><%= link_to 'Download',
     url_for(format: 'csv', mymodel: datamodel["modelname"], mydatalimit: datamodel["datalimit"]), class: "btn btn-sm btn-primary" %></div>
  <div class="col-md-2"><%= archivedate(datamodel["changed"]) %></div>
  <div class="col-md-2"><%= datamodel["recordcount"] %></div>
  </h4>
</div>