<h2>
<div class="col-md-3"><%= link_to theater.name, theater %></div>
<div class="col-md-1"><%= theater.company %></div>
<div class="col-md-2"><%= theater.address %></div>
<div class="col-md-3">
  <%= if !theater.performance.nil?
    if theater.performance.closeing <= DateTime.now then
      "Dark on " + theater.performance.closeing.strftime('%b %d, %Y')
    else
      theater.performance.name
    end
  end %>
</div>
<div class="col-md-2"><%= link_to "Edit", edit_theater_path(theater), class: "btn btn-small btn-warning" %></div>
<div class="col-md-1"><%= link_to "Delete", theater, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-small btn-danger" %></div>
</h2>