<td width='25%' valign="top">
  <%= link_to theater.name, theater %></td>
<td width='10%' valign="top">
  <%= theater.company %></td>
<td width='15%' valign="top">
  <%= theater.address %></td>
<td width='25%' valign="top">
  <%= if !theater.performance.nil?
    if theater.performance.closeing <= DateTime.now then
      "Dark on " + theater.performance.closeing.strftime('%b %d, %Y')
    else
      theater.performance.name
    end
  end %></td>
<td width='25%' valign="top">
  <%= link_to "Edit", edit_theater_path(theater), class: "btn btn-small btn-warning" %>
  <%= link_to "Delete", theater, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-small btn-danger" %>
</td>