<div class="row">
<div class="col-md-4 editbold lt"><%= link_to theater.name, theater %></div>
<div class="col-md-2 editlight lt"><%= theater.company %></div>
<div class="col-md-3 editbold ct">
  <%= if !theater.performance.nil?
    if theater.performance.closeing <= DateTime.now then
      "Dark on " + theater.performance.closeing.strftime('%b %d, %Y')
    else
      theater.performance.name
    end
  end %>
</div>
<div class="col-md-1 editbold"><%= link_to "Edit", edit_theater_path(theater), class: "btn btn-sm btn-warning" %></div>
<div class="col-md-1 editbold"><%= link_to "Delete", theater, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %></div>
</div>