<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :quantity, "Quantity:" %>
    <%= f.number_field :quantity %>

    <%= f.fields_for :cabinets do |product_cabinets| %>
      <%= f.select :product_id,
                        Product.all.collect {|p| [p.name, p.id,
                        {'Device'=>p.name}]},
                        { class: "product-select"} %>
    <% end %>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>