<% provide(:title, "Edit Show") %>
<div align="center">
<div class="well well-sm" style="width: 75%;">

<h1>Update Show</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@performance) do |f| %>

      <%= render 'error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.fields_for :theater do |b| %>
        <%= f.select :theater_id, Theater.all.map {|e| [e.name, e.id]} %>
      <% end %>

      Sunday before the First Preview:
      <%= f.text_field :opening, :value => @performance.opening.strftime('%Y-%m-%d') %>

      The Last Performance <%= if @performance.closeing.strftime('%Y-%m-%d') == "3000-01-01" then
          "is unknown"
        else
          if @performance.closeing <= DateTime.now then
            " was " + @performance.closeing.strftime('%A  %b %d, %Y')
          else
               " is " + @performance.closeing.strftime('%A  %b %d, %Y')
            end
        end %>
      <%= f.text_field :closeing, :value => @performance.closeing.strftime('%Y-%m-%d') %>


      <fieldset id="performance-cabinets">
      <ol>
        <%= f.fields_for :cabinets do |cabinet| %>
          <%= render 'cabinet_fields', f: cabinet %>
        <% end %>
      </ol>
      <%= link_to_add_association 'add product', f, :cabinets,
          'data-association-insertion-node' => "#performance-cabinets ol",
          'data-association-insertion-method' => "append",
          :wrap_object => Proc.new {|cabinets| cabinets.build_product; cabinets },
          class: "btn btn-medium btn-primary" %>
      </fieldset>

      <%= f.label :comments, "Additional information, Do the actors run through the theater space..." %>
      <%= f.text_area :comments %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

</div>
</div>