<% provide(:title, 'All Performances') %>
<div align="center">
<div class="well well-sm" style="width: 75%;">
<h1><%= @title %></h1>

<%= will_paginate %>
<%= render @performances %>
<%= will_paginate %>

<%= link_to "Create a Show", new_performance_path(@performance), class: "btn btn-medium btn-primary" %>

</div>
</div>
