<% provide(:title, 'Add a Show') %>
<h1>Add a Show</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@performance) do |f| %>

      <%= render 'shared/performance_error_messages' %>

      <%= f.hidden_field :closeing, value:'3000-01-01' %>
      <%= f.hidden_field :opening, value:@anopeningdate %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.fields_for :theater do |b| %>
        <%= f.select :theater_id, Theater.all.map {|e| [e.name, e.id]} %>
      <% end %>

      <fieldset id="performance-cabinets">
          <ol>
      <%= f.fields_for :cabinets do |cabinet| %>
        <%= render 'cabinet_fields', f: cabinet %>
      <% end %>
      </ol>
       <%= link_to_add_association 'add product', f, :cabinets,
          'data-association-insertion-node' => "#performance-cabinets ol",
          'data-association-insertion-method' => "append",
          :wrap_object => Proc.new {|cabinets| cabinets.build_product; cabinets },
          class: "btn btn-medium btn-primary" %>
      </fieldset>

      <%= f.label :comments, "Additional information, Do the actors run through the theater space..." %>
      <%= f.text_area :comments %>

      <%= f.submit "Add Show", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>