<% provide(:title, @performance.name) %>

<div align="center">
<div class="well well-sm" style="width: 50%;">
<h1><%= @performance.name %></h1>

<div class="row">
  <div class="col-md-4 editbold lt"><%= link_to @performance.theater_name, @performance.theater %></div>
  <div class="col-md-3 editlight ct"><%= @performance.theater_company %></div>
  <div class="col-md-3 editlight lt"><%= @performance.theater_address %></div>
  <div class="col-md-2 editlight lt"><%= @performance.theater_city %></div>
</div>

<h2>Closeing Date:&nbsp;
  <% if @performance.closeing > DateTime.now()  %>
    Now Showing
  <% else %>
    <%= @performance.closeing.strftime('%b %d, %Y') %>
  <% end %>
</h2>

<h2>The Cabinet has:</h2>
<% @performance.cabinets.each do |c| %>
<div class="row">
	<div class="col-md-2 editbold rt"><%= c.quantity %></div>
	<div class="col-md-4 editlight lt"><%= c.product.name.pluralize %></div>
</div>
<% end %>

<%= @performance.comments %>

<h2>On the web:</h2>
<a href="http://www.broadway.com/search/?q=<%= @performance.name.gsub(" ","+") %>" target="new">Broadway.com</a></dd>

<%= link_to "List all Shows", performances_path, class: "btn btn-small btn-primary" %>
<%= link_to "Edit This Show", edit_performance_path(@performance), class: "btn btn-small btn-warning" %></dd>

</div><div class="well well-sm" style="width: 50%;">

<%= line_chart @mychart %>

</div>
</div>